dash
dash-core-components
dash-html-components
dash-renderer
dash-table
Flask
Flask-Compress
gunicorn
Jinja2
lxml
numpy
pandas
plotly
python-dateutil
scikit-learn
scipy
sklearn
urllib3
Werkzeug
yfinance
